.ttl {
  font-size: 90px;
  color: #fff;
  font-weight: bold;
}

.ttl2 {
  font-size: 80px;
  color: #fff;
  font-weight: bold;
}

.ttl3 {
  font-size: 80px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding: 40px 0;
}

.crd {
  margin: 15px 8px;
}
.crd img {
  border-radius: 15px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .crd img {
    border-radius: 15px;
    width: 100%;
  }
}

button.navbar-toggler.collapsed {
  background: white !important;
}
