@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

body {
  font-family: "Itim", cursive !important;
}
a {
  cursor: pointer !important;
}
.ttl {
  font-size: 90px;
  color: #fff;
  font-weight: bold;
}

.ttl2 {
  font-size: 60px;
  color: #fff;
  font-weight: bold;
}

.ttl3 {
  font-size: 60px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding: 40px 0;
}

.crd {
  margin: 15px 8px;
}
.crd img {
  border-radius: 15px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .crd img {
    border-radius: 15px;
    width: 100%;
  }
}

button.navbar-toggler.collapsed {
  background: white !important;
}
.box {
  border: 2px solid #fff;
  padding: 20px;
  border-radius: 20px;
}
.btnt {
  background-color: #f38607;
  display: inline-block;
  width: 200px;
  height: 57px;
  font-size: 20px;
  color: #fff !important;
  line-height: 50px;
  color: #fff;
  text-decoration: none;
  transform: rotate(6deg);
}

.btn2 {
  background-color: #f38607;
  display: block;
  width: 57px;
  height: 57px;
  font-size: 20px;
  color: #fff !important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  transform: rotate(352deg);
  margin: 0 18px;
}

.btn3 {
  background-color: #f38607;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 57px;
  height: 57px;
  font-size: 20px;
  color: #fff !important;
  line-height: 65px;
  color: #fff;
  text-decoration: none;
  transform: rotate(2deg);
}
